<div class="modal fade" id="remove-person" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">¿You want to delete the person {{ person.name }}?</h4>
            </div>
            <div class="modal-body">
                <p>Autor: {{ person.author }}</p>
                <p>Description: {{ person.description }}</p>
                <p>Price: {{ person.price }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="removePerson" (click)="remove(person.id)">Remove course</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>